apiVersion: v1alpha1
discovery:
  jobs:
    - type: alb
      regions:
        - us-east-1
      period: 60
      length: 600
      metrics:
        - name: RequestCount
          statistics: [Sum]
        - name: TargetResponseTime
          statistics: [Average, p95]
        - name: HTTPCode_Target_4XX_Count
          statistics: [Sum]
        - name: HTTPCode_Target_5XX_Count
          statistics: [Sum]
        - name: HTTPCode_ELB_4XX_Count
          statistics: [Sum]
        - name: HTTPCode_ELB_5XX_Count
          statistics: [Sum]

    - type: ecs
      regions:
        - us-east-1
      period: 60
      length: 600
      metrics:
        - name: CPUUtilization
          statistics: [Average, Maximum]
        - name: MemoryUtilization
          statistics: [Average, Maximum]

    - type: sqs
      regions:
        - us-east-1
      period: 60
      length: 600
      metrics:
        - name: ApproximateNumberOfMessagesVisible
          statistics: [Average, Maximum]
        - name: ApproximateAgeOfOldestMessage
          statistics: [Maximum]
